<ul class='country-list'>
  <li class='country-item'>
    <div class='country-info'>
      <img src="{{flags}}" alt="{{name}}"<h2 class='name-country'>{{name}}</h2>
      <ul class='info-list'>
        <li class='capital-country'>Capital: {{capital}}</li>
        <li class='population-country'>Population: {{population}}</li>
        <li class='flags-country'></li>
        <li class='languages-country'>Lenguages: {{languages}}</li>
      </ul>
    </div>
  </li>
</ul>